<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>404 (ノ&gt;ᴥ&lt;)ノ ︵ ┻━┻</title>
  <link rel="stylesheet" href="/style/404.css" />
</head>

<body>

  <div>
    <h1>
      That will be 404 for this page ://
    </h1>
    <a href="/">Go Home</a>
  </div>

  <div>
    (WIP image) or you can send me something idk
  </div>

</main>
<footer>
  ♡ {{ Ctx.utils.now.year }} by Wilmhit.
  Copying is an act of love.
  <br>
  <a href="https://copyheart.org" target="_blank">Copyheart</a>
  &#9774
  <a href="https://gitlab.com/Wilmhit/wilmhit.pw" target="_blank">Git</a>
  &#9774
  <a href="https://codeberg.org/wilmhit/Gemerald" target="_blank">Gemerald sitegen</a>
  &#9774
  <a href="/LICENSE" target="_blank">License</a>
</footer>
</body>
</html>
