<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Wilmhit" />

    <!-- I dont like changing titles -->
    <title>Wilmhit.pw</title>

    <!-- Here is the stylesheet you're looking for ;P -->
    <link rel="stylesheet" href="/style/main.css"/>

    <!-- I use Hugo static site generator -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Facebook cards -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wilmhit.pw/">
    <meta property="og:title" content="Wilmhit's personal site">


  </head>
  <body>
    <header>
      Wilmhit.pw

      <nav>
        <!-- The trick is to hide checkbox out of visible space-->
        <input id="hamburger" class="hamburger" type="checkbox" />

        <!-- Label is only shown for small screens (media query) and-->
        <!-- contains hamburger svg-->
        <label class="hamburger" for="hamburger"></label>

        <!-- This is normally layed out for PCs and for mobile this is a box-->
        <!-- Position depends on checkbox being checked or not-->
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/contact.html'>Contact</a></li>
          <li><a href='/blog/'>Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>

<h3>Ranked by average response times (probably).</h3>

<div class="contact-grid">
  <div class="border">
    <h1>Signal</h1>
    By my phone number if you happen to know it
  </div>
  <div class="border">
    <h1>Matrix</h1>
    <a href="https://matrix.to/#/@wilmhit:matrix.org">@wilmhit:matrix.org</a>
  </div>
  <div class="border">
    <h1>Fediverse</h1>
    <a href="https://awawa.cat/wilmhit">@wilmhit@awawa.cat</a>
  </div>
  <div class="border">
    <h1>XMPP</h1>
    wilmhit@pwned.life
  </div>
  <div class="border">
    <h1>Email</h1>
    wilmhit (at) disroot.org
  </div>
  <div class="border">
    <h1>Codeberg</h1>
    <a href="https://codeberg.org/wilmhit">wilmhit</a>
  </div>
  <div class="border">
    <h1>Anilist</h1>
    <a href="https://anilist.co/user/Wilmhit/">Wilmhit</a>
  </div>
  <div class="border">
    <h1>Gitlab</h1>
    <a href="https://gitlab.com/Wilmhit">Wilmhit</a>
  </div>
  <div class="border">
    <h1>KDE Invent</h1>
    <a href="https://invent.kde.org/wilmhit">wilmhit</a>
  </div>
  <div class="border">
    <h1>Pijul Nest</h1>
    <a href="https://nest.pijul.com/wilmhit">wilmhit</a>
  </div>
</div>



</main>
<footer>
  ♡ {{ Ctx.utils.now.year }} by Wilmhit.
  Copying is an act of love.
  <br>
  <a href="https://copyheart.org" target="_blank">Copyheart</a>
  &#9774
  <a href="https://gitlab.com/Wilmhit/wilmhit.pw" target="_blank">Git</a>
  &#9774
  <a href="https://codeberg.org/wilmhit/Gemerald" target="_blank">Gemerald sitegen</a>
  &#9774
  <a href="/LICENSE" target="_blank">License</a>
</footer>
</body>
</html>
