
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Wilmhit" />

    <!-- I dont like changing titles -->
    <title>Wilmhit.pw</title>

    <!-- Here is the stylesheet you're looking for ;P -->
    <link rel="stylesheet" href="/style/main.css"/>

    <!-- I use Hugo static site generator -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Facebook cards -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wilmhit.pw/">
    <meta property="og:title" content="Wilmhit's personal site">


  </head>
  <body>
    <header>
      <!-- This may be later changed to logo-->
      Wilmhit.pw

      <nav>
        <!-- The trick is to hide checkbox out of visible space-->
        <input id="hamburger" class="hamburger" type="checkbox" />

        <!-- Label is only shown for small screens (media query) and-->
        <!-- contains hamburger svg-->
        <label class="hamburger" for="hamburger"></label>

        <!-- This is normally layed out for PCs and for mobile this is a box-->
        <!-- Position depends on checkbox being checked or not-->
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/contact.html'>Contact</a></li>
          <li><a href='/blog/'>Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>

<section class="first-section">
  <h1>Hi there,</h1>
  I'm Wilmhit. I do a programming and other stuff too. Thank you for visiting
  my site.
</section>

<section>
  <h1>My interests</h1>
  <p>
    I like sustainable programming. What does it mean? If I had made your phone
    OS you would able to update it no matter how old it is.
  </p>
  <p>
    That means software should be private, extensible, open source and free as
    in freedom.
  </p>
  <p>
    My other interests include playing with electronics, soldering stuff
    toghether. I like everything that feels good. (also baking).
  </p>
</section>

<span style="font-weight: bold; font-size: 1.2em;">Here are some stickers that might interest you</span>
<div class="badges">
  <img src="/badges/nojs.gif" alt="No javascript" />
  <img src="/badges/chrome.gif" alt="Chrome is IE all over again" />
  <img src="/badges/mastodon.gif" alt="Follow me on Mastodon" />
  <img src="/badges/gplv3.png" alt="GPL v3 or later logo" />
  <img src="/badges/neovim.png" alt="Neovim" />
  <img src="/badges/gnu_linux_badge.gif" alt="Made on GNU/Linux" />
  <img src="/badges/iso_date_badge.png" alt="ISO date" />
  <img src="/badges/stand_up_to_google_badge.gif" alt="Stand up to Google" />
  <div>
    Shamelessly stolen from many different sites
    (some of them are in recommended sites list).

</main>
<footer>
  ♡ {{ Ctx.utils.now.year }} by Wilmhit.
  Copying is an act of love.
  <br>
  <a href="https://copyheart.org" target="_blank">Copyheart</a>
  &#9774
  <a href="https://gitlab.com/Wilmhit/wilmhit.pw" target="_blank">Git</a>
  &#9774
  <a href="https://codeberg.org/wilmhit/Gemerald" target="_blank">Gemerald sitegen</a>
  &#9774
  <a href="/LICENSE" target="_blank">License</a>
</footer>
</body>
</html>
