<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Wilmhit" />

    <!-- I dont like changing titles -->
    <title>Wilmhit.pw</title>

    <!-- Here is the stylesheet you're looking for ;P -->
    <link rel="stylesheet" href="/style/main.css"/>

    <!-- I use Hugo static site generator -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Facebook cards -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wilmhit.pw/">
    <meta property="og:title" content="Wilmhit's personal site">
  </head>
  <body>
    <header>
      <!-- This may be later changed to logo-->
      Wilmhit.pw

      <nav>
        <!-- The trick is to hide checkbox out of visible space-->
        <input id="hamburger" class="hamburger" type="checkbox" />

        <!-- Label is only shown for small screens (media query) and-->
        <!-- contains hamburger svg-->
        <label class="hamburger" for="hamburger"></label>

        <!-- This is normally layed out for PCs and for mobile this is a box-->
        <!-- Position depends on checkbox being checked or not-->
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/contact.html'>Contact</a></li>
          <li><a href='/blog/index.html'>Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <div class="blog-header">
          <h1>
            {{ Ctx.title }}
          </h1>
          <div>
            {{ Ctx.dateReleased.date() }} <br>
            {{ ((Site.content.split()|length) / 80)|int }} minutes read
          </div>
        </div>
        <hr/>

        {{ Site.content }}
      <article>
    </main>
    <footer>
      ♡ {{ Ctx.utils.now.year }} by Wilmhit.
      Copying is an act of love.
      <br/>
      <a href="https://copyheart.org" target="_blank">Copyheart</a>
      &#9774
      <a href="https://gitlab.com/Wilmhit/wilmhit.pw" target="_blank">Git</a>
      &#9774
      <a href="https://codeberg.org/wilmhit/Gemerald" target="_blank">Gemerald sitegen</a>
      &#9774
      <a href="/LICENSE" target="_blank">License</a>
    </footer>
  </body>
</html>
