:root {
  --bg: rgb(42, 42, 42);
  --header: rgb(42, 42, 42);
  --text: rgb(255, 255, 255);
  --text-faded: var(--text);
  --text-link: var(--text);
  --code-bg: rgb(30, 30, 30);
  --highlight: rgb(150, 150, 150);
}

body {
  background-color: var(--bg);
  color: var(--text);
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

a {
  color: var(--text-link);
}
a:hover {
  color: var(--highlight);
}

footer {
  text-align: center;
}

