:root {
  --bg: rgb(42, 42, 42);
  --header: rgb(42, 42, 42);
  --text: rgb(255, 255, 255);
  --text-faded: var(--text);
  --text-link: var(--text);
  --code-bg: rgb(30, 30, 30);
  --highlight: rgb(150, 150, 150);
}

* {
  box-sizing: border-box;
}
*:focus-visible,*:focus {
  outline: 1px solid var(--text);
}

a {
  color: var(--text-link);
}
a:hover {
  color: var(--highlight);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  place-items: center;
  background-color: var(--header);
  padding: 1rem;
  border-bottom: 1px solid var(--highlight);
  box-shadow: 2px 2px 3px black;
}
nav {
  z-index: 100;
}
nav .hamburger {
  position: absolute;
  right: 0;
  top: 0;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  filter: invert(100%);
  background: url("/images/hamburger.svg");
  background-size: contain;
}
nav input.hamburger {
  position: absolute;
  top: -100vh;
}
nav input.hamburger:focus ~ label {
  outline: 2px solid black;
  outline-offset: -5px;
}
nav ul {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0vh;
  left: 0;
  z-index: -1;
  padding: 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  transform: translate(0, -200%);
  background-color: var(--header);
}
nav input.hamburger ~ ul {
  overflow: hidden;
}
nav input.hamburger:checked ~ ul {
  transform: translate(0, 0);
}
nav li a {
  color: var(--text)
}
nav li a:hover {
  color: var(--highlight)
}
nav li {
  padding: 0.5rem;
  list-style: none;
  text-align: center;
}
@media (min-width: 640px) {
  nav {
    position: absolute;
    right: 0;
  }
  nav .hamburger {
    display: none;
  }
  nav ul {
    position: static;
    transform: none;
    transition: none;
    flex-direction: row;
    height: 100%;
  }
  nav ul li {
    height: 100%;
    padding: 0 2rem;
  }
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  width: min(90%, 800px);
  margin: 3em auto;
  margin-bottom: 0;
  padding-bottom: 10em;
}
main hr {
  margin: 0 0;
  margin-bottom: 2em;
}

.blog-list {
  margin: 0;
  padding: 0;
}
.blog-list > li {
  padding: 1em;
  list-style: none;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.blog-list > li > a {
  text-align: right;
}
.blog-list > li > p {
  margin: 0;
}

.blog-list > li > h1,
.blog-list > li > h2,
.blog-list > li > h3,
.blog-list > li > h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

.blog-list > li > .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blog-header div {
  flex-shrink: 0;
}


@media (min-width: 640px) {
  .blog-header {
    flex-direction: row;
  }
}

section {
  padding: 1rem 0;
  width: 100%;
  margin: 3em 0;
  columns: 2;
}
.first-section {
  align-items: start;
}

section h1 {
  padding: 0;
  margin: 0;
  color: var(--text-faded);
  text-decoration: underline;
  text-decoration-style: double;
}

main h3 {
  font-family: monospace;
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-style: dashed;
}
article h3 {
  padding-top: 3rem;
}
main h1 {
  font-family: monospace;
  font-size: 1.5rem;
}
main p {
  padding: 0 0;
  margin: 1em 0;
}
main li > p {
  margin: 0.5em 0;
}

section img,  
article img {
  display: block;
  max-width: 100%;
}

@media (max-width: 640px) {
  main p {
    text-align: justify;
  }
  .blog-header {
    text-align: center;
  }
  section {
    columns: 1;
  }
  section img {
    max-height: 300px;
    margin: auto 0;
  }
  section p {
    padding: 1rem 0;
  }
}

code {
  white-space: nowrap;
  background: var(--code-bg);
  padding: 2px 7px;
  margin: 0 2px;
  border-radius: 5px;
  border: 0.3px solid var(--text);
}

pre > code {
  white-space: break-spaces;
  border: none;
  padding: 0px;
}

pre {
  border-radius: 5px;
  padding: 5px;
  border: 0.3px solid var(--text);
  background: var(--code-bg);
}

blockquote {
  border-left: 4px solid var(--header);
  padding-left: 0.5em;
}

a.footnote-ref, a.footnote-backref {
  text-decoration: none;
  color: var(--highlight);
  padding-right: 0.3em;
  padding-left: 0.3em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border-left: 1px solid var(--highlight);
  border-right: 1px solid var(--highlight);
  border-radius: 0.3em;
}

table, th, tr, td, thead {
  border: 1px solid var(--text-faded);
  border-collapse: collapse;
}
td {
  padding: 10px;
  padding-left: 15px;
}

.blog-rss img {
  height: 1.5em;
  margin-right: 0.5em;
}
.blog-rss {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.blog-rss a {
  display: inherit;
  vertical-align: baseline;
}

.contact-grid {
  display: grid;
  gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
}
@media (min-width: 640px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.contact-grid > * {
  padding: 10px;
  text-align: center;
  color: var(--text-faded);
}
.contact-grid a {
  color: var(--text-faded);
}
.contact-grid h1 {
  margin-top: 0;
}

.border {
  border: 1px solid var(--highlight);
  box-shadow: 5px 5px 2px black;
}
